In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/pharmacy_sales.csv")
df.head()

,Date,Medicine_Name,Category,Units_Sold,Unit_Price,Revenue,Stock_Available,Supplier,Expiry_Date,City
0,2023-01-01,Atorvastatin,Syrup,184,33,6072,370,Abbott,2023-07-20,Pune
1,2023-01-02,Amoxicillin,Tablet,79,15,1185,187,Abbott,2023-11-08,Hyderabad
2,2023-01-03,Azithromycin,Capsule,92,48,4416,513,Sun Pharma,2024-01-09,Bangalore
3,2023-01-04,Pantoprazole,Capsule,165,16,2640,413,Cipla,2024-10-19,Delhi
4,2023-01-05,Atorvastatin,Syrup,174,32,5568,799,Sun Pharma,2024-03-03,Mumbai

In [3]:
df.shape

(731, 10)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             731 non-null    object
 1   Medicine_Name    731 non-null    object
 2   Category         731 non-null    object
 3   Units_Sold       731 non-null    int64
 4   Unit_Price       731 non-null    int64
 5   Revenue          731 non-null    int64
 6   Stock_Available  731 non-null    int64
 7   Supplier         731 non-null    object
 8   Expiry_Date      731 non-null    object
 9   City             731 non-null    object
dtypes: int64(4), object(6)
memory usage: 57.2+ KB

In [5]:
df.describe()

       Units_Sold  Unit_Price      Revenue  Stock_Available
count  731.000000  731.000000   731.000000       731.000000
mean   107.741450   27.492476  2982.854993       555.637483
std     56.199134   12.589445  2206.129924       251.921027
min      5.000000    5.000000    30.000000       100.000000
25%     61.000000   17.000000  1147.000000       350.000000
50%    112.000000   28.000000  2576.000000       556.000000
75%    158.000000   38.000000  4368.000000       768.500000
max    199.000000   49.000000  9751.000000       999.000000

In [6]:
df["Date"] = pd.to_datetime(df["Date"])
df["Expiry_Date"] = pd.to_datetime(df["Expiry_Date"])

In [7]:
df.isnull().sum()

Date               0
Medicine_Name      0
Category           0
Units_Sold         0
Unit_Price         0
Revenue            0
Stock_Available    0
Supplier           0
Expiry_Date        0
City               0
dtype: int64

In [8]:
df["Year"] = df["Date"].dt.year
df["Month"] = df["Date"].dt.month
df["Expiry_Days"] = (df["Expiry_Date"] - df["Date"]).dt.days

df.head()

,Date,Medicine_Name,Category,Units_Sold,Unit_Price,Revenue,Stock_Available,Supplier,Expiry_Date,City,Year,Month,Expiry_Days
0,2023-01-01,Atorvastatin,Syrup,184,33,6072,370,Abbott,2023-07-20,Pune,2023,1,200
1,2023-01-02,Amoxicillin,Tablet,79,15,1185,187,Abbott,2023-11-08,Hyderabad,2023,1,310
2,2023-01-03,Azithromycin,Capsule,92,48,4416,513,Sun Pharma,2024-01-09,Bangalore,2023,1,371
3,2023-01-04,Pantoprazole,Capsule,165,16,2640,413,Cipla,2024-10-19,Delhi,2023,1,654
4,2023-01-05,Atorvastatin,Syrup,174,32,5568,799,Sun Pharma,2024-03-03,Mumbai,2023,1,423

In [9]:
df.to_csv("../data/pharmacy_sales_cleaned.csv", index=False)