In [3]:
import pandas as pd
import numpy as np

In [4]:
np.random.seed(42)
dates = pd.date_range(start="2023-01-01", end="2024-12-31", freq="D")

In [5]:
medicines = ["Paracetamol", "Azithromycin", "Amoxicillin",
             "Cetrizine", "Pantoprazole", "Metformin", "Atorvastatin"]

categories = ["Tablet", "Capsule", "Syrup"]
cities = ["Mumbai", "Pune", "Delhi", "Bangalore", "Hyderabad"]
suppliers = ["Cipla", "Sun Pharma", "Dr Reddy", "Abbott"]

In [6]:
data = []

for date in dates:
    med = np.random.choice(medicines)
    units = np.random.randint(5, 200)
    price = np.random.randint(5, 50)
    stock = np.random.randint(100, 1000)

    data.append([
        date,
        med,
        np.random.choice(categories),
        units,
        price,
        units * price,
        stock,
        np.random.choice(suppliers),
        date + pd.Timedelta(days=np.random.randint(180, 720)),
        np.random.choice(cities)
    ])

In [7]:
columns = [
    "Date", "Medicine_Name", "Category", "Units_Sold",
    "Unit_Price", "Revenue", "Stock_Available",
    "Supplier", "Expiry_Date", "City"
]

df = pd.DataFrame(data, columns=columns)

In [8]:
df.to_csv("../data/pharmacy_sales.csv", index=False)
df.head()

,Date,Medicine_Name,Category,Units_Sold,Unit_Price,Revenue,Stock_Available,Supplier,Expiry_Date,City
0,2023-01-01,Atorvastatin,Syrup,184,33,6072,370,Abbott,2023-07-20,Pune
1,2023-01-02,Amoxicillin,Tablet,79,15,1185,187,Abbott,2023-11-08,Hyderabad
2,2023-01-03,Azithromycin,Capsule,92,48,4416,513,Sun Pharma,2024-01-09,Bangalore
3,2023-01-04,Pantoprazole,Capsule,165,16,2640,413,Cipla,2024-10-19,Delhi
4,2023-01-05,Atorvastatin,Syrup,174,32,5568,799,Sun Pharma,2024-03-03,Mumbai

In [9]:
df.to_csv("../data/pharmacy_sales.csv", index=False)
df.head()

,Date,Medicine_Name,Category,Units_Sold,Unit_Price,Revenue,Stock_Available,Supplier,Expiry_Date,City
0,2023-01-01,Atorvastatin,Syrup,184,33,6072,370,Abbott,2023-07-20,Pune
1,2023-01-02,Amoxicillin,Tablet,79,15,1185,187,Abbott,2023-11-08,Hyderabad
2,2023-01-03,Azithromycin,Capsule,92,48,4416,513,Sun Pharma,2024-01-09,Bangalore
3,2023-01-04,Pantoprazole,Capsule,165,16,2640,413,Cipla,2024-10-19,Delhi
4,2023-01-05,Atorvastatin,Syrup,174,32,5568,799,Sun Pharma,2024-03-03,Mumbai