In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../data/pharmacy_sales_cleaned.csv")
df["Date"] = pd.to_datetime(df["Date"])
df.head()

ValueError: time data "13-01-2023" doesn't match format "%m-%d-%Y", at position 12. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [3]:
df["Date"] = pd.to_datetime(df["Date"], dayfirst=True)

In [4]:
df["Date"] = pd.to_datetime(df["Date"], format="mixed", dayfirst=True)

In [7]:
df = pd.read_csv("../data/pharmacy_sales_cleaned.csv")
df["Date"] = pd.to_datetime(df["Date"], dayfirst=True)
df.head()

,Date,Medicine_Name,Category,Units_Sold,Unit_Price,Revenue,Stock_Available,Supplier,Expiry_Date,City,Year,Month,Expiry_Days
0,2023-01-01,Atorvastatin,Syrup,184,33,6072,370,Abbott,20-07-2023,Pune,2023,1,200
1,2023-01-02,Amoxicillin,Tablet,79,15,1185,187,Abbott,08-11-2023,Hyderabad,2023,1,310
2,2023-01-03,Azithromycin,Capsule,92,48,4416,513,Sun Pharma,09-01-2024,Bangalore,2023,1,371
3,2023-01-04,Pantoprazole,Capsule,165,16,2640,413,Cipla,19-10-2024,Delhi,2023,1,654
4,2023-01-05,Atorvastatin,Syrup,174,32,5568,799,Sun Pharma,03-03-2024,Mumbai,2023,1,423

In [8]:
df.head()

,Date,Medicine_Name,Category,Units_Sold,Unit_Price,Revenue,Stock_Available,Supplier,Expiry_Date,City,Year,Month,Expiry_Days
0,2023-01-01,Atorvastatin,Syrup,184,33,6072,370,Abbott,20-07-2023,Pune,2023,1,200
1,2023-01-02,Amoxicillin,Tablet,79,15,1185,187,Abbott,08-11-2023,Hyderabad,2023,1,310
2,2023-01-03,Azithromycin,Capsule,92,48,4416,513,Sun Pharma,09-01-2024,Bangalore,2023,1,371
3,2023-01-04,Pantoprazole,Capsule,165,16,2640,413,Cipla,19-10-2024,Delhi,2023,1,654
4,2023-01-05,Atorvastatin,Syrup,174,32,5568,799,Sun Pharma,03-03-2024,Mumbai,2023,1,423